In [1]:
import pandas as pd
import numpy as np
import pickle

with open("../data/training_dataset_labels_equal_1.dat", 'rb') as f:
    training_dataset_1 = pickle.load(f)

training_dataset_1.head()

,0,1,2,3,4,5,6,7,8,9,...,40238,40239,40240,40241,40242,40243,40244,40245,40246,40247
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
with open("../data/training_dataset_labels_equal_0_A.dat", 'rb') as f:
    training_dataset_0 = pickle.load(f)

training_dataset_0.shape

(1000, 40248)

In [6]:
with open("../data/training_dataset_labels_equal_0_B.dat", 'rb') as f:
    temp = pickle.load(f)

training_dataset_0_2000 = training_dataset_0.append(temp)
training_dataset_0_2000.shape

(2000, 40248)

In [8]:
with open("../data/training_dataset_labels_equal_0_C.dat", 'rb') as f:
    temp = pickle.load(f)

training_dataset_0_3000 = training_dataset_0_2000.append(temp)
training_dataset_0_3000.shape

(3000, 40248)

In [9]:
with open("../data/training_dataset_labels_equal_0_D.dat", 'rb') as f:
    temp = pickle.load(f)

training_dataset_0_4000 = training_dataset_0_3000.append(temp)
training_dataset_0_4000.shape

(4000, 40248)

In [10]:
with open("../data/training_dataset_labels_equal_0_E.dat", 'rb') as f:
    temp = pickle.load(f)

training_dataset_0_5000 = training_dataset_0_4000.append(temp)
training_dataset_0_5000.shape

(5000, 40248)

In [11]:
training_dataset = training_dataset_1.append(training_dataset_0_5000).reset_index(drop=True)
training_dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,40238,40239,40240,40241,40242,40243,40244,40245,40246,40247
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
training_dataset.shape

(6000, 40248)

In [13]:
del training_dataset_0
del training_dataset_0_2000
del training_dataset_0_3000
del training_dataset_0_4000
del training_dataset_0_5000
del training_dataset_1

In [16]:
training_dataset_array = training_dataset.values
training_dataset_array

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [17]:
training_dataset_array.shape

(6000, 40248)

In [18]:
with open("../data/training_dataset_array.dat", "wb") as f:
    pickle.dump(training_dataset_array , f)

In [24]:
ones = np.ones(1000)
ones_zeros = np.append(ones, np.zeros(5000)) 
ones_zeros

array([1., 1., 1., ..., 0., 0., 0.])

In [25]:
ones_zeros.sum()

1000.0

In [27]:
with open("../data/target_dataset_array.dat", "wb") as f:
    pickle.dump(ones_zeros , f)

In [28]:
from sklearn.naive_bayes import BernoulliNB
clf = BernoulliNB()

clf.fit(training_dataset_array, ones_zeros)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [88]:
t1 = np.zeros(40248)
t2 = np.ones(40248)
t = [t1, t2]
clf.predict(t)

array([0., 1.])

In [31]:
testset_app_df = pd.read_pickle("../data/testset_app_1000.df.gz")
grants_target_df = pd.read_pickle("../data/grants_for_2000.df.gz")

import re

CLAIM_PAT = re.compile(r'<claims[^>]*>(.*)</claims>',re.MULTILINE|re.DOTALL)
TAG_PAT = re.compile(r"<.*?>")

def whole_xml_to_claim_xml(whole):
    mat = CLAIM_PAT.search(whole)
    return mat.group(1)

def whole_xml_to_claim(whole):
    return TAG_PAT.sub(' ', whole_xml_to_claim_xml(whole))

from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(stop_words='english', max_df = 0.5)
grants_target_df["claim"] = grants_target_df["xml"].map(whole_xml_to_claim)
grants_features = vectorizer.fit_transform(grants_target_df["claim"])

from sklearn.feature_extraction.text import CountVectorizer

def claims_to_tfidfs(claimarr, count_vec, idfvec):
    tfcsr = count_vec.fit_transform(claimarr)
    tf = tfcsr.toarray()
    unnormalized = np.multiply(tf, idfvec)
    lpnorms = np.linalg.norm(unnormalized, axis=1)
    return unnormalized/lpnorms[:, np.newaxis]

vocab = vectorizer.vocabulary_
idfvec = vectorizer.idf_
count_vec = CountVectorizer(vocabulary=vocab, stop_words="english", max_df = 0.5)

testset_app_df["claim"] = testset_app_df["xml"].map(whole_xml_to_claim)
testset_features = claims_to_tfidfs(testset_app_df["claim"], count_vec, idfvec)

In [33]:
testset_features.shape

(1000, 20124)

In [34]:
type(testset_features)

numpy.ndarray

In [37]:
type(grants_features.toarray())

numpy.ndarray

In [41]:
citations_info_target = pd.read_pickle("../data/citations_info_2000.df.gz")
citations_info_target.head()

,app_id,app_fnm,citation_pat_pgpub_id,parsed,ifw_number,action_type,action_subtype,form892,form1449,citation_in_oa,...,rejection_103,rejection_112,rejection_dp,objection,allowed_claims,cite102_gt1,cite103_gt3,cite103_eq1,cite103_max,signature_type
0,13371769,/work/data/apps/2012/ipa120607/F_2322.xml,7391316,7391316,H20LX5QGPXXIFW4,103.0,a,1,0,1,...,1,0,1,0,0,0,0,1,2,0
1,13371769,/work/data/apps/2012/ipa120607/F_2322.xml,6992580,6992580,H20LX5QGPXXIFW4,102.0,a,1,1,1,...,1,0,1,0,0,0,0,1,2,0
2,13371769,/work/data/apps/2012/ipa120607/F_2322.xml,6992580,6992580,H20LX5QGPXXIFW4,103.0,a,1,1,1,...,1,0,1,0,0,0,0,1,2,0
3,13371769,/work/data/apps/2012/ipa120607/F_2322.xml,7774833,7774833,H20LX5QGPXXIFW4,103.0,a,1,1,1,...,1,0,1,0,0,0,0,1,2,0
4,12282000,/work/data/apps/2009/ipa090312/F_1385.xml,7411209,7411209,G9LENRJ8PPOPPY5,102.0,a,0,1,1,...,1,0,0,0,0,1,0,1,1,3

In [42]:
cite_102 = citations_info_target[citations_info_target['action_type']==102.0]
cite_102.head()

,app_id,app_fnm,citation_pat_pgpub_id,parsed,ifw_number,action_type,action_subtype,form892,form1449,citation_in_oa,...,rejection_103,rejection_112,rejection_dp,objection,allowed_claims,cite102_gt1,cite103_gt3,cite103_eq1,cite103_max,signature_type
1,13371769,/work/data/apps/2012/ipa120607/F_2322.xml,6992580,6992580,H20LX5QGPXXIFW4,102.0,a,1,1,1,...,1,0,1,0,0,0,0,1,2,0
4,12282000,/work/data/apps/2009/ipa090312/F_1385.xml,7411209,7411209,G9LENRJ8PPOPPY5,102.0,a,0,1,1,...,1,0,0,0,0,1,0,1,1,3
8,14159362,/work/data/apps/2014/ipa140703/F_4620.xml,7662492,7662492,I1KYS443PXXIFW4,102.0,e,1,0,1,...,1,0,1,0,1,1,0,1,2,1
11,14108143,/work/data/apps/2014/ipa140703/F_509.xml,7748353,7748353,IEY7N8XRPXXIFW4,102.0,b,1,0,1,...,1,1,0,1,0,0,0,0,3,3
14,12239876,/work/data/apps/2010/ipa100401/F_888.xml,7147064,7147064,GU9QLYWUPPOPPY5,102.0,b,0,1,1,...,1,1,0,0,0,0,1,1,4,1

In [80]:
cite_102.shape

(1732, 41)

In [49]:
testset_app_df['app_id']

0      14307191
1      13137006
2      12741959
3      12643447
4      14200253
5      14745354
6      12592473
7      13518392
8      12742690
9      12612289
10     14753118
11     14330851
12     13585338
13     13651849
14     12763873
15     13093651
16     13011676
17     12495510
18     13234438
19     13742196
20     14601546
21     13346611
22     13004544
23     13909370
24     12359890
25     13748263
26     13934720
27     13946740
28     13895128
29     13080815
         ...
970    12732741
971    13090863
972    13558073
973    14368999
974    12123065
975    13720586
976    13135314
977    15191721
978    14264323
979    13667498
980    12843154
981    13235435
982    14541495
983    12778573
984    14051192
985    12824687
986    12589475
987    14409833
988    12544209
989    13509100
990    12791035
991    13733648
992    12347542
993    14030174
994    12084046
995    12806588
996    13458652
997    12219643
998    14342735
999    14058317
Name: app_id, Length: 1000, dtype: int64

In [79]:
len(testset_app_df['app_id'].unique())

1000

In [55]:
cite_102_testset = pd.merge(cite_102, testset_app_df, on='app_id')
cite_102_testset.head()

,app_id,app_fnm,citation_pat_pgpub_id,parsed,ifw_number,action_type,action_subtype,form892,form1449,citation_in_oa,...,rejection_dp,objection,allowed_claims,cite102_gt1,cite103_gt3,cite103_eq1,cite103_max,signature_type,xml,claim
0,14159362,/work/data/apps/2014/ipa140703/F_4620.xml,7662492,7662492,I1KYS443PXXIFW4,102.0,e,1,0,1,...,1,0,1,1,0,1,2,1,"<us-patent-application lang=""EN"" dtd-version=""...",\n \n 1 - 20 . (canceled) \n \n \n 21 . An a...
1,14108143,/work/data/apps/2014/ipa140703/F_509.xml,7748353,7748353,IEY7N8XRPXXIFW4,102.0,b,1,0,1,...,0,1,0,0,0,0,3,3,"<us-patent-application lang=""EN"" dtd-version=""...",\n \n 1 . A method of controlling an oil pump...
2,12239876,/work/data/apps/2010/ipa100401/F_888.xml,7147064,7147064,GU9QLYWUPPOPPY5,102.0,b,0,1,1,...,0,0,0,0,1,1,4,1,"<us-patent-application lang=""EN"" dtd-version=""...",\n \n 1 . An apparatus for drilling undergrou...
3,12239876,/work/data/apps/2010/ipa100401/F_888.xml,6888097,6888097,GU9QLYWUPPOPPY5,102.0,b,0,1,1,...,0,0,0,0,1,1,4,1,"<us-patent-application lang=""EN"" dtd-version=""...",\n \n 1 . An apparatus for drilling undergrou...
4,13546339,/work/data/apps/2012/ipa121101/F_5316.xml,6994706,6994706,HG51IS59PXXIFW4,102.0,b,1,1,1,...,0,0,0,0,0,0,2,2,"<us-patent-application lang=""EN"" dtd-version=""...",\n \n 1 .- 33 . (canceled) \n \n \n 34 . A m...

In [76]:
cite_102_testset.shape

(886, 43)

In [72]:
cite_102_testset.columns
mask1 = cite_102_testset.columns.tolist()
del mask1[0]
del mask1[2]
mask1

['app_fnm',
 'citation_pat_pgpub_id',
 'ifw_number',
 'action_type',
 'action_subtype',
 'form892',
 'form1449',
 'citation_in_oa',
 'app_country',
 'app_date',
 'app_doc-number',
 'app_len',
 'fnm',
 'pub_country',
 'pub_date',
 'pub_kind',
 'pub_len',
 'title',
 'document_cd',
 'mail_dt',
 'art_unit',
 'uspc_class',
 'uspc_subclass',
 'header_missing',
 'fp_missing',
 'rejection_fp_mismatch',
 'closing_missing',
 'rejection_101',
 'rejection_102',
 'rejection_103',
 'rejection_112',
 'rejection_dp',
 'objection',
 'allowed_claims',
 'cite102_gt1',
 'cite103_gt3',
 'cite103_eq1',
 'cite103_max',
 'signature_type',
 'xml',
 'claim']

In [73]:
cite_pair = cite_102_testset.drop(mask1 , axis=1)
cite_pair.head()

     app_id   parsed
0  14159362  7662492
1  14108143  7748353
2  12239876  7147064
3  12239876  6888097
4  13546339  6994706

In [74]:
cite_pair.shape

(886, 2)

In [85]:
testsets = np.array([])

for i in range(len(testset_features)):
    id = testset_app_df['app_id'][i]
    parsed = cite_pair[cite_pair['app_id'] == id]['parsed'][0]
    idx = grants_target_df[grants_target_df['parsed'] == parsed].index[0]
    testsets[i] = np.append(testset_features[i][:], grants_features.toarray()[idx][:] )

IndexError: index out of bounds

In [39]:
testsets.shape

(70916976,)